<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
  {% if page and page.url == "index.html" %}
  <style>aside img { display: unset; }</style>
  {% endif %}

  <link rel="license" hreflang="en" href="{{ SITEURL }}/copyright.html" />
</head>

<body>
  <aside>
    <h1><a href="/">{{ SITENAME }}</a></h1>
    <nav>
      <ul>
        {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        {% for p in pages %}
          {% if not p.parent %}{# print all top-level pages #}
            {% if p == page or page in p.children %}
              <li><a {% if p == page %} class="active"{% endif %} href="/{{ p.url }}">{{ p.title }}</a>
              {% if p.children %}{# print any child pages #}
                <ul>
                {% for c in p.children %}
                  <li><a {% if c == page %} class="active"{% endif %} href="/{{ c.url }}">{{ c.title }}</a></li>
                {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% else %}
              <li><a href="/{{ p.url }}">{{ p.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </aside>

  <main>
    <div id='content'>
    {% block content %}{% endblock %}
    </div>

    <footer>
      <p><small>
        content licensed <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">cc-by-sa</a>
        <span class='break'>—</span> ©2012–2017 {{ AUTHOR }} <span class='break'>—</span>
        unless <a rel="license" href='/copyright.html'>indicated otherwise</a>
      </small></p>
    </footer>
  </main>
</body>
</html>
