{% extends "!layout.html" %}

{% block content %}
    <div class="header">
        {%- block haikuheader %}
        <h1 id="m_logo"><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a></h1>
        {%- endblock %}
    </div>

    <div class="topnav">
        <form id="search" action="{{ pathto('search') }}" method="get" >
            <input id="medusasearch" type="text" name="q" placeholder="search" />
            <input type="hidden" name="check_keywords" value="yes" />
            <input type="hidden" name="area" value="default" />
        </form>

        <ul class="nav">
            <li><a href="{{ pathto(master_doc)|e }}">Home</a></li>
            {%- for parent in parents %}
            <li><a href="{{ parent.link|e }}">{{ parent.title }}</a></li>
            {%- endfor %}
            {% if pagename != master_doc %}
            <li>{{ title }}</li>
            {% endif %}
        </ul>
    </div>	

    <div class="content">
    {% block body %}{% endblock %}
    </div>
{% endblock %}
