html {
	background: #EBEBEB;
}
body {
	background: #FFFFFF;
       	border: 1px solid #D0D0D0;
	margin-top: 1em;
}
a:link, a:hover, a:visited {
	color: #0A2F75;
}

/*** Header ***/

.header{
	background-image:url('header_bg.jpg');
}
#m_logo {
	text-align: right;
}
#m_logo a:link, #m_logo a:visited, #m_logo a:hover, #m_logo a:active {
	color: #ffffff;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*** Nav Bar ***/

.nav {
	background-color: #F0F0F0;
	border-bottom: 1px solid #D0D0D0;
	list-style: none;
	margin: 0;
	padding: 5px 10px;
}
.nav > li, .nav > li > a {
	display: inline-block;
}
.nav li:first-child:before {
	content: ""
}
.nav li:before {
	content: "» "
}

#search {
	float: right;
	margin-top: 1px;
}

/*** Main ***/

div.content {
	margin-left: 10px;
	margin-right: 10px;
}

/* Style the fuck out of this table */
table.dc-rack {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}
table.dc-rack tr th:nth-child(3) {
	border-bottom: 1px solid #000000;
}
table.dc-rack tr td:nth-child(3) {
	border: 1px solid #000000;
	border-top: none;
	text-align: center;
}
table.dc-rack td {
	vertical-align: middle;
}


/*** Footer ***/

.footer {
	background-color: #F0F0F0;
	border-top: 1px solid #D0D0D0;
}

